<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="Values" type="SoftLattice.Enhancements.ConfigHandler`1[[SoftLattice.Tests.Unit.Values, SoftLattice.Tests]], SoftLattice.Enhancements"  />
    </configSections>
    <Values>
        <Name>John</Name>
        <Number>23</Number>
    </Values>
</configuration>