<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="ConfigValues" type="SoftLattice.Enhancements.ConfigHandler`1[[SoftLattice.PluginC.ConfigValues, SoftLattice.PluginC]], SoftLattice.Enhancements"/>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <ConfigValues>
        <SoulSource>http://www.soulsorce.org</SoulSource>
    </ConfigValues>
</configuration>
